# Ignore everything by default
*

# But not these files/directories...
!.gitignore
!README.md
!LICENSE
!src/
!src/**/*.swift
!adventist-hymnarium-tests/
!adventist-hymnarium-uitests/

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python virtual environment
venv/

# Firebase
GoogleService-Info.plist
!GoogleService-Info.template.plist

# App Data
responsive_readings.json
!responsive_readings.template.json

# Build artifacts
*.ipa
*.app.dSYM.zip
*.app.dSYM

# Cache directories
.cache/
